*.DS_Store
desktop.ini
*sitemap.xml
*Thumbs.db
~*.docx
~*.tmp
~$*.pptx
*tg.json
*.me.*
/tmp/*
node_modules
.sass-cache
package-lock.json
*crontab.txt
*sftp-config.json
*.me.php
*crontab.txt
*crontab.json
/build
*.swo
*.swp
cache/*.json
.idea
yarn.lock
media/
*.sublime-*